@use  '../../../../_variables.scss' as *;


.mat-mdc-card{
    cursor:pointer;
    border: 3px groove $primary;
    // assessing: removing width constraint
    //max-width: 300px;
    overflow-wrap: anywhere;
}

.mat-mdc-card:hover{
    background-color: $accent;
    color:white;
}


//    let cancel a few properties of .mat-mdc-button
//    so that we can make those buttons smaller

.mat-mdc-button{
    @include small-button;
    @include delete-button;
}

.rating-nobackdrop{
    // purpsefully empty
}

.icon-container{
    margin-top: 1em;
}

.txt-medium{
  font: var(--mat-sys-body-medium);
}