@use  '../../../../_variables.scss' as *;


.mat-mdc-card{
    //border-radius: 15px;
    cursor:pointer;
    border: 3px groove $primary;
    max-width: 300px;
    overflow-wrap: anywhere;
}

.mat-mdc-card:hover{
    background-color: $primary;
    color:white;
}


//    let cancel a few properties of .mat-button
//    so that we can make those buttons smaller

//    TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.

.mat-card-del-button, .mat-mdc-button{
    @include small-button;
    @include delete-button;
}

.rating-nobackdrop{
    // purpsefully empty
}

.icon-container{
    margin-top: 1em;
}