<span #_container>
    <mat-card
        title="dbclick : éditer, click droit : noter" 
        (dblclick)="updateMovie()" 
        (contextmenu)="updateRating()">    
        
        <button mat-button (click)="confirmThenDelete()">
            <mat-icon>remove</mat-icon>
        </button>
        
        <mat-card-header>  
            <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="movie-duration"><label>durée : </label><span>{{movie.duration | duration}}</span></div>
        </mat-card-content>
    </mat-card>
</span>