
<div class="movielist">
  <div class="movielist-header vert-small-pad">
    <h1>Films</h1>

    <button mat-raised-button
      color="primary"
      aria-label="add a movie"
          (click)="openNewMovie()"
          title="Ajouter un film"
          class="testid-movielist-add"
          >
      Ajouter
    </button>
  </div>

  <div class="movielist-list padded vert-small-pad">
    @for (movie of $movies(); track movie.id) {
      <div>
        <div class="movie-margin">
          <app-movie [movie]="movie"></app-movie>
        </div>
      </div>
    }
  </div>

  <div class="movielist-search" #movielist_search>
    <div class="v-center">
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <mat-label>Rechercher...</mat-label>
        <input matInput class="testid-movielist-search" (keyup)="filterMovies($event)">
      </mat-form-field>
    </div>
    <button mat-raised-button aria-label="sort movies"
      [color]="$sorted() ? 'primary' : 'secondary'"
      (click)="toggleSort()"
      title="Trier par titre"
      class="testid-movielist-sort"
      >
      Trier
    </button>
  </div>

</div>
