@use '../../../../_variables' as *;
@use '@angular/material' as mat;


.movielist{
    width: 400px;
    height: 100%;
    border-right: 2px solid black;
    background-color: $secondary-pane-color;

    display: flex;
    flex-direction: column;


    .movielist-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        h1{
            @include sect-title;
            margin-bottom: 0;
        }
    }


    .movielist-list{
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: auto;
        background-color: $tertiary-pane-color;
    }


    .movie-margin {
        margin-bottom: $gap-default;
    }

    .movielist-search{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 3.2rem;


        // neutralizing an element that serve 
        // no purpose here except messing with the 
        // layout
        /*
        Note: does not work; will kill it by javascript instead
        .mat-mdc-form-field-subscript-wrapper{
           display: none;
           content: none;
        }
        */

        // the search field here has no background color
        // to make it less prominent
        @include mat.form-field-overrides((
            filled-container-color: transparent
        ));
    }
}

.padded{
    padding: $gap-default;
}

.vert-small-pad{
    padding-top: $gap-default;
    padding-bottom: $gap-default;
}


.hor-small-pad{
    padding-left: $gap-small;
    padding-right: $gap-small;
}