
<div class="movielist">
    <div class="movielist-header padded">
        <div class="movielist-title-center">
            <h1>Films</h1>
        </div>
        
        <div class="movielist-actions">
            <div class="movielist-search">
                <mat-icon>search</mat-icon>
                <mat-form-field appearance="fill">
                    <input matInput (keyup)="filterMovies($event)">
                </mat-form-field>
            </div>
            <div class="movielist-buttons">
                <button mat-raised-button aria-label="sort movies"
                [color]="sorted ? 'primary' : 'secondary'" 
                (click)="toggleSort()"
                >
                    <mat-icon>sort_by_alpha</mat-icon>
                </button>
                <button mat-raised-button  color="primary" aria-label="add a movie" (click)="openNewMovie()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="movielist-list padded">

        <div *ngFor="let movie of movies$ | async">
            <div class="movie-margin">
                <app-movie [movie]="movie"></app-movie>
            </div>
        </div>
        
    </div>

</div>
