

<h1 mat-dialog-title>Nouveau film</h1>
<div mat-dialog-content [formGroup]="formGroup">
    <div>
        <label for="newmovie-title">Titre : </label>
        <mat-form-field appearance="fill">
            <input id="newmovie-title" matInput formControlName="title">          
            <div *ngIf="invalid('title')">  
                <span class="validation-error">Il faut un titre à ce film !</span>
            </div>                              
        </mat-form-field>
    </div>
    <div>
        <label for="newmovie-duration">Durée : </label>
        <mat-form-field appearance="fill">
            <mat-label>Ex: 1h26</mat-label>
            <input id="newmovie-duration" matInput formControlName="duration">
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">OK</button>
    <button mat-button (click)="cancel()">Annuler</button>
</div>

