# Profile for development

spring:
  r2dbc:
    name: gegerator

  web:
    resources:
      # The new Angular builder now outputs client-side content
      # in a directory named "/browser" (see angular.json, and the dist
      # directory), then itself bundled by maven-frontend-plugin in "/static"
      # (unzip -l the gegerator.client jar to see where all the assets
      # land). Hence, we redefine the static assets location:
      static-locations: classpath:/static/browser/

  # TODO: this doesn't work unfortunately
  #datasource:
  #  data: data-test.sql


  # TODO: this does not work either !
  #h2:
  #  console.enabled: true


  #webflux:
  #  base-path: /gegerator


scoring:
  # Theater ratings have a normal scoring,
  # except for Never which is very very penalized.
  theaters:
    HIGHEST: 1000
    HIGH: 100
    DEFAULT: 10
    NEVER: -99999

  # Same scoring logic than for theaters.
  movies:
    HIGHEST: 1000
    HIGH: 100
    DEFAULT: 10
    NEVER: -99999

  # Events ratings have a tremendous value
  # compared to the rest
  events:
     MANDATORY: 999999
     DEFAULT: 0
     NEVER: -999999

