@use "sass:color";

/* TODO : no time for this shit, going with blunt replacements until I got this sorted out */
$app-primary: #4b0082;
$app-accent: #add8e6;
$app-warn: #ee7600;


/* export the colors */
$primary: $app-primary;
$accent: $app-accent;
$warn: $app-warn;

$primary-light-35: color.scale($primary, $lightness: +35%);
$primary-dark-35: color.scale($primary, $lightness: -35%);


// ***** spacings and layouts ***********

$default-gap: 1em;
$small-gap: 8px;



// ***** mat-button customization ********
@mixin small-button{
    min-width: fit-content;
    height: fit-content;
    padding: 0.3em;
    line-height: normal;
    background-color: lightgray;
    color: black;
}

@mixin delete-button{
    background-color: lightgray;
    color: black;
}

// ******** main section styles ********

@mixin sect-title{
    font-family: "sans";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: magenta;
    /* WIP : see https://bootcamp.uxdesign.cc/gradient-text-in-css-609068d3f953 */
/*
    background-image: linear-gradient(90deg, rgba(34,36,217,1) 0%, rgba(130,138,18,1) 50%, rgba(255,0,239,1) 100%);
    background-clip: text;
    color: transparent;
*/
}

$primary-pane-color: orange;
$secondary-pane-color: khaki;
$tertiary-pane-color: beige ;

