@use "sass:color";
@use "sass:map";


// the ugly colors
$color-primary-pane: orange;
$color-secondary-pane: khaki;
$color-tertiary-pane: beige ;

$color-warn: rgb(255,110,64);
$color-fieldlabel: rgba(0,0,0,0.6);

// ***** typography **************

$font-size-header: 1.50rem;
$font-size-large: 1.25rem;
$font-size-content: 0.875rem;
$font-size-small: 0.65625rem;

$font-weight-header: 400;
$font-weight-lightbold: 500;
$font-weight-normal: 400;


// ***** spacings and layouts ***********

$radius-large: 15px;
$radius-small: 4px;
$radius-none: 0px;

$gap-default: 1em;
$gap-small: 8px;

$padding-xlarge: 24px;
$padding-small: 8px;

$border-thin: 1px;
$border-fat: 3px;
$border-superfat: 6px;

// ***** mat-button customization ********
@mixin small-button{
    min-width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    line-height: normal;
}

@mixin delete-button{
    background-color: lightgray;
    color: black;
}

// ******** main section styles ********

@mixin sect-title{
    font-family: "sans";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: magenta;
    /* WIP : see https://bootcamp.uxdesign.cc/gradient-text-in-css-609068d3f953 */
/*
    background-image: linear-gradient(90deg, rgba(34,36,217,1) 0%, rgba(130,138,18,1) 50%, rgba(255,0,239,1) 100%);
    background-clip: text;
    color: transparent;
*/
}

