/* *********************** global styles ************************* */

html{
    height: 100%;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* rescale everything down a bit */
    font-size: 0.75em;
}

h1 {
  margin: 0;
}

/* *********************** flex helpers ************************* */

.flex-1{
    display: flex;
    flex: 1;
}

/* *********************** material icons ************************* */

// why would Material define negative margin on the left and positive on the 
// right for button icons is beyond me...
.mat-mdc-button>.mat-icon, 
.mat-mdc-unelevated-button>.mat-icon {
  &.fix-margin {
    margin-left: auto;
    margin-right: auto;
  }
}

/* *********************** dialogs *********************** */
.dialog-field{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >span, .field-label{
        display: flex;
        margin-right: 8px;
    }
}


// these are my own icons, not mat-icons
.icon{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.v-center{
    display: flex;
    align-items: center;
}

// ********* misc ********
