@use 'src/_variables.scss' as vars;

/* *********************** default & resets ************************* */

html{
    height: 100%;
    padding: 0;

    p, label, span, legend {
        font-size: vars.$font-size-content;
    }
}

body{
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
  font-size: vars.$font-size-header;
  font-weight: vars.$font-weight-header;
}

h2 {
  font-size: vars.$font-size-large;
  font-weight: vars.$font-weight-header;
}

/* *********************** flex helpers ************************* */

.flex-1{
    display: flex;
    flex: 1;
}

/* *********************** material icons ************************* */

// why would Material define negative margin on the left and positive on the 
// right for button icons is beyond me...
.mat-mdc-button>.mat-icon, 
.mat-mdc-unelevated-button>.mat-icon {
  &.fix-margin {
    margin-left: auto;
    margin-right: auto;
  }
}

/* *********************** dialogs *********************** */
.dialog-field{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >span, .field-label{
        display: flex;
        margin-right: 8px;
    }
}


// these are my own icons, not mat-icons
.icon{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.v-center{
    display: flex;
    align-items: center;
}

// ********* misc ********

.ctxt-menu-padding{
    padding: vars.$padding-xlarge;
}