

@use '@angular/material' as mat;
@use 'src/_variables.scss' as vars;
@use 'src/app/custom/_theme-colors.scss' as custom-theme;

// elevation-classes() does not work, use directly mat.elevation(z) where needed
//@include mat.elevation-classes();
//@include mat.app-background();


html {
  @include mat.theme((
    color: (
      primary: custom-theme.$primary-palette,
      tertiary: custom-theme.$tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: -6
  ));

  // not so round buttons please
  @include mat.button-overrides((
    filled-container-shape: var(--mat-sys-corner-large, vars.$radius-large),
    text-container-shape: var(--mat-sys-corner-large, vars.$radius-large),
    outlined-container-shape: var(--mat-sys-corner-large, vars.$radius-large),
    protected-container-shape: var(--mat-sys-corner-large, vars.$radius-large),
    tonal-container-shape: var(--mat-sys-corner-large, vars.$radius-large)
  ));


  // not so round sidenav please
  @include mat.sidenav-overrides((
    container-shape: var(--mat-sys-corner-none, vars.$radius-none),
    container-width: fit-content
  ));

  @include mat.card-overrides((
    title-text-weight: 500,
    title-text-size: vars.$font-size-large
  ));

  @include mat.dialog-overrides((
    container-shape: var(--mat-sys-corner-extra-small, vars.$radius-small)
  ))

}