

@use '@angular/material' as mat;
@use 'src/app/custom/_theme-colors.scss' as custom-theme;

// elevation-classes() does not work, use directly mat.elevation(z) where needed
//@include mat.elevation-classes();
//@include mat.app-background();


html {
  @include mat.theme((
    color: (
      primary: custom-theme.$primary-palette,
      tertiary: custom-theme.$tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));

  // not so round buttons please
  @include mat.button-overrides((
    filled-container-shape: var(--mat-sys-corner-extra-small, 4px),
    text-container-shape: var(--mat-sys-corner-extra-small, 4px),
    outlined-container-shape: var(--mat-sys-corner-extra-small, 4px),
    protected-container-shape: var(--mat-sys-corner-extra-small, 4px),
    tonal-container-shape: var(--mat-sys-corner-extra-small, 4px)
  ));

  @include mat.card-overrides((
    title-text-weight: 500
  ));

  // not so round sidenav please
  @include mat.sidenav-overrides((
    container-shape: var(--mat-sys-corner-extra-small, 4px),
    container-width: fit-content
  ));

}