

@use '@angular/material' as mat;
//@include mat.elevation-classes();
//@include mat.app-background();

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));

  @include mat.button-overrides((
    filled-container-shape: 5px,
    text-container-shape: 5px,
    outlined-container-shape: 5px,
    protected-container-shape: 5px,
    tonal-container-shape: 5px
  ))

}