
@use "sass:map"


/* TODO : no time for this shit, going with blunt replacements until I got this sorted out */
$app-primary: #4b0082;
$app-accent: #add8e6;
$app-warn: #ee7600;


/* export the colors */
$primary: $app-primary;
$accent: $app-accent;
$warn: $app-warn;
