

@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();


// If these must change, remember to redeclare them
// in _variables.scss
// (see : https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126)
// + https://v17.material.angular.dev/guide/theming
$app-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 700, 300, 900);
$app-accent: mat.m2-define-palette(mat.$m2-blue-palette);
$app-warn: mat.m2-define-palette(mat.$m2-orange-palette, A200);

// create theme
$app-theme: mat.m2-define-light-theme((
   color:(
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
   )
));

@include mat.elevation-classes();
@include mat.app-background();
