

@use '@angular/material' as mat;
//@include mat.elevation-classes();
//@include mat.app-background();

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));

  @include mat.button-overrides((
    filled-container-shape: var(--mat-sys-corner-extra-small, 4px),
    text-container-shape: var(--mat-sys-corner-extra-small, 4px),
    outlined-container-shape: var(--mat-sys-corner-extra-small, 4px),
    protected-container-shape: var(--mat-sys-corner-extra-small, 4px),
    tonal-container-shape: var(--mat-sys-corner-extra-small, 4px)
  ));

  @include mat.card-overrides((
    title-text-weight: 500
  ));

}