<div appContextMenu [recipient]="_anchor" [dialogRef]="dialogRef" >
  <fieldset>
    <legend>Avis Film :</legend>
    <mat-radio-group
      aria-label="Select an option"
      (change)="updateMovieRating($event)">

      @for (mr of MovieRatings.enumerate(); track mr) {
        <mat-radio-button
          [value]="mr" class="radiobtn--block"
          [disableRipple]="true"
          [checked]="mr == movie.rating">
          {{mr.description}}
        </mat-radio-button>
      }

    </mat-radio-group>
  </fieldset>

  <fieldset>
    <legend>Plannifié dans : </legend>
    <div class="limit-height">
      <ul>
        @for (s of sessions$ | async | orderByComparable:'day':'startTime'; track s) {
          <li>
            <app-event-link [event]="s">
              {{s.format('%t : %d, %h')}}
            </app-event-link>
          </li>
        }
      </ul>
    </div>
  </fieldset>
</div>