
@use '../../../../_variables' as *;
@use "sass:color";
@use '@angular/material' as mat;
// $color-high: color.scale($color-highest, $lightness: +50%);

#sessions-mainview{
    display: flex;
    justify-content: center;
    background-color: $color-secondary-pane;
    .sessions--center{
        flex: 0.7 0 min-content;
    }

    .session-day{
        margin: 8px 0;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .session-day-table{
        width: 100%;
        table-layout: fixed;
        overflow-y: hidden;
        border-collapse: collapse;

        .session-day--title{
            text-align: center;
            margin-bottom: 4px;
        }

        thead{
            border-bottom: 1px solid black;
            position: sticky;
            top: 8px;
            z-index: 2;
            background-color: $color-secondary-pane;
            @include mat.elevation(8);

            .session-header{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
            }

            .session-header--title{
                display: inline;
                margin: 0;
                margin-right: 8px;
            }

            .mdc-button{
                @include small-button
            }


        }

        tbody tr{
            td{
                border-collapse: collapse;
                position: relative;

                border-left: 1px solid black;
                border-right: 1px solid black;

                &:first-child{
                    border-left: 0;
                }

                &:last-child{
                    border-right: 0;
                }
            }
        }
    }
}
