
.mat-mdc-dialog-title{
    text-align: center;
}

.mat-mdc-dialog-content{
    display:flex;
    align-items: center;

    .mat-icon{
        font-size: 48px;
        height: 48px;
        width: 48px;
        margin-right: 16px;
    }

    .dialog-content-flex{
        flex: 1;
    }
}

.mat-mdc-dialog-actions{
    justify-content: center;
}
