@use "src/_variables.scss" as vars;

.mat-mdc-dialog-title{
    text-align: center;
}

.mat-mdc-dialog-content{
    display:flex;
    align-items: center;

    .mat-icon{
        font-size: 48px;
        height: 48px;
        width: 48px;
        margin-right: 16px;

        &.icon-error{
            color: vars.$color-warn;
        }

        &.icon-confirm{
            color: var(--mat-sys-primary);
        }
    }


    .dialog-content-flex{
        flex: 1;
    }
}

.mat-mdc-dialog-actions{
    justify-content: center;
}
