
.icon.movie-highest{
    background-image: url('../../../../assets/thumbup-double.png');
    width: 43px;
}

.movie-high{
    background-image: url('../../../../assets/thumbup.png');
}

.movie-default{
    // purposedly empty
}

.movie-never{
    background-image: url('../../../../assets/thumbdown.png');
}

