@use '../../../_variables' as *;


.movielist{
    max-width: 400px;
    border-right: 2px solid black;
    height: 100%;

    .movielist-actions{
        display: flex;

        .movielist-search{
            flex: 1;
        }

        .movielist-buttons{
            margin-left: auto;
        }

    }


    .movielist-title-center{
        text-align: center;
    }

    .movie-margin{
        margin-bottom: 1em;
    }

}

.padded{
    padding-left: 1em;
    padding-right: 1em;
}
