
<div class="movielist">
    <div class="movielist-header">
        <div class="movielist-header--left">
            <h1>{{title}}</h1>
        </div>
        
        <div class="movielist-header--right">
            <button mat-raised-button  color="primary" aria-label="add a movie" (click)="openNewMovie()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="list">

        <div *ngFor="let movie of movies$ | async">
            <div class="movie-margin">
                <app-movie [movie]="movie"></app-movie>
            </div>
        </div>
        
    </div>

</div>
