
.movielist{
    padding-left: 1em;
    padding-right: 1em;

    .movielist-header{
        display: flex;
    }

    .movielist-header--left{
        flex: 1;
    }

    .movielist-header--right{
        margin-left: auto;
    }


    .movie-margin{
        margin-bottom: 1em;
    }

}

