@use '../_variables.scss' as *;


$side-panel-width: 80px;
$title-size: 48px;

#app-mainview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


     #app-header{
        padding: 16px 0;
        width: 100%;
        background-color: $primary-pane-color;
        text-align: center;

        .app-header--centerpart{
            // reset the text-align inherited from the parent
            // because it would mess with the flex rules
            text-align: unset;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: fit-content;
            // adding +5px to account for letters like 'g'
            // that spills below the baseline (aka the descender line)
            line-height: calc($title-size + 5px);
            margin: auto;
            
        }

        #app-title{
            font-size: $title-size;
            align-self: stretch;
            @include sect-title;
        }

        #app-buttonbar{
            margin: auto;
            flex: 1;
            display: flex;
            justify-content: right;

            button{
                margin: 0 8px;
            }
        }

    }

    #app-content{
        flex: 1;
    }

}
