@use '../../../../_variables.scss' as vars;

.summary-panel{
    max-width: 400px;
    border-left: 2px solid black;
    height: 100%;
    background-color: vars.$tertiary-pane-color;
    display: flex;

    .pane{
        display:flex;
        flex-direction: column;
        height: 100%;
    }


    h1{
        @include vars.sect-title;
        margin: 0;
        padding: vars.$gap-small 0;
        background-color: vars.$secondary-pane-color;
    }

    .pane-content{
        flex: 1;
        background-color: vars.$tertiary-pane-color;
        padding: vars.$gap-default;
        overflow-y: auto;
    }


}

// cheating a bit
:host ::ng-deep .mat-mdc-tab-header{
    background-color: vars.$secondary-pane-color;
}
