@use '../../../../_variables.scss' as *;

.summary-panel{
    max-width: 400px;
    border-left: 2px solid black;
    height: 100%;
    background-color: $tertiary-pane-color;

    padding-left: 1em;
    padding-right: 1em;

    h1{
        @include sect-title;
    }

    .pseudolink{
        color: blue;
        cursor: pointer;
    }
}