
<!-- 
<div *ngFor="let entry of moviesByRating | async | keyvalue">
    <label>{{entry.key.description}} :</label>
    <ul>
        <li *ngFor="let movie of entry.value">{{movie.title}}</li>
    </ul>
</div>
-->

<div *ngFor="let entry of sessionsForRatings | async">
    <label>{{entry.rating.description}} :</label>
    <ul>
        <li *ngFor="let session of entry.sessions | orderByDateTime">{{session.toString()}}</li>
    </ul>
</div>

<div>
    <label>Autres trucs prévus :</label>
    <ul>
        <li *ngFor="let act of activities | async | orderByDateTime ">{{act.toString()}}</li>
    </ul>
</div>
