
<div *ngFor="let entry of moviesForRatings | async | orderByComparable:'rating'">
    <label>{{entry.rating.description}} :</label>
    <ul>
        <li *ngFor="let movie of entry.movies | orderByLowercase:'title'">{{movie.title}}</li>
        <li *ngIf="entry.movies.length == 0">(Aucun)</li>
    </ul>
</div>

<div *ngFor="let entry of sessionsForRatings | async | orderByComparable:'rating'">
    <ng-container *ngIf="entry.rating.key != 'DEFAULT'">
    <label>{{entry.rating.description}} :</label>
    <ul>
        <li *ngFor="let session of entry.sessions | orderByComparable:'day':'startTime'">
            <a [href]="'#'+session.htmlId">{{session.toString()}}</a>
        </li>
        <li *ngIf="entry.sessions.length == 0">(Aucun)</li>
    </ul>
    </ng-container>
</div>

<div>
    <label>Autres trucs prévus :</label>
    <ul>
        <li *ngFor="let act of activities | async | orderByComparable:'day':'startTime'">
            <a [href]="'#'+act.htmlId">{{act.toString()}}</a>
        </li>
        <li *ngIf="(activities | async)?.length == 0">(Aucun)</li>
    </ul>
</div>
