@import '../../../_variables.scss';

.mat-card{
    border-radius: 15px;
    cursor:pointer;
    border: 3px groove $primary;
    max-width: 300px;
}

.mat-card:hover{
    background-color: $primary;
    color:white;
}
